# Explore here

In [8]:
# Your code here
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/4GeeksAcademy/linear-regression-project-tutorial/main/medical_insurance_cost.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [9]:
df.drop_duplicates().reset_index(drop=True)
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [11]:
df.to_csv('../data/raw/df_raw.csv', index=False)

In [13]:
for column in df.columns:
    if df[column].dtype == 'object':
       df[column+'_n'] = pd.factorize(df[column])[0]
df

,age,sex,bmi,children,smoker,region,charges,sex_n,smoker_n,region_n
0,19,female,27.900,0,yes,southwest,16884.92400,0,0,0
1,18,male,33.770,1,no,southeast,1725.55230,1,1,1
2,28,male,33.000,3,no,southeast,4449.46200,1,1,1
3,33,male,22.705,0,no,northwest,21984.47061,1,1,2
4,32,male,28.880,0,no,northwest,3866.85520,1,1,2
...,...,...,...,...,...,...,...,...,...,...
1333,50,male,30.970,3,no,northwest,10600.54830,1,1,2
1334,18,female,31.920,0,no,northeast,2205.98080,0,1,3
1335,18,female,36.850,0,no,southeast,1629.83350,0,1,1
1336,21,female,25.800,0,no,southwest,2007.94500,0,1,0
1337,61,female,29.070,0,yes,northwest,29141.36030,0,0,2

In [16]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

variables_num = ['age','bmi','children','sex_n','smoker_n','region_n']

features_escaladas = scaler.fit_transform(df[variables_num])  

df_escalado = pd.DataFrame(features_escaladas, index = df.index, columns = variables_num)
df_escalado.head()

        age       bmi  children     sex_n  smoker_n  region_n
0 -1.438764 -0.453320 -0.908614 -1.010519 -1.970587 -1.343905
1 -1.509965  0.509621 -0.078767  0.989591  0.507463 -0.438495
2 -0.797954  0.383307  1.580926  0.989591  0.507463 -0.438495
3 -0.441948 -1.305531 -0.908614  0.989591  0.507463  0.466915
4 -0.513149 -0.292556 -0.908614  0.989591  0.507463  0.466915

In [ ]:
from sklearn.model_selection import train_test_split

X= df_escalado
y